In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from statsmodels.tsa.arima.model import ARIMA

In [2]:
# Cargar datos hist√≥ricos de ventas (reemplaza 'tu_archivo.csv' con tu archivo CSV)
datos_ventas = pd.read_csv('desafio_modelo_de_demanda.csv')
datos_ventas.head(10)

        fecha  prod_id  precio_promedio  ventas  modelo_actual
0  2017-01-01        0      6651.737920  1786.0    1943.551087
1  2017-02-01        0      4919.698602  2194.0    1853.111850
2  2017-03-01        0      3277.484704  1178.0    1659.733052
3  2017-04-01        0      5906.864332  1010.0    1580.492875
4  2017-05-01        0      4662.644018  1327.0    1552.062093
5  2017-06-01        0      6342.042090   982.0    1108.069873
6  2017-07-01        0      4025.450305  1041.0    1027.946609
7  2017-08-01        0      5271.820417   874.0    1143.970335
8  2017-09-01        0      4657.933860  1042.0    1038.140169
9  2017-10-01        0      6146.444333   618.0     854.462461

In [3]:
datos_ventas['fecha'] = pd.to_datetime(datos_ventas['fecha'])
datos_ventas.loc[datos_ventas['prod_id'] == '0']

datos_ventas.head()

       fecha  prod_id  precio_promedio  ventas  modelo_actual
0 2017-01-01        0      6651.737920  1786.0    1943.551087
1 2017-02-01        0      4919.698602  2194.0    1853.111850
2 2017-03-01        0      3277.484704  1178.0    1659.733052
3 2017-04-01        0      5906.864332  1010.0    1580.492875
4 2017-05-01        0      4662.644018  1327.0    1552.062093

In [4]:
X = pd.to_numeric((datos_ventas['fecha'] - datos_ventas['fecha'].min()) / np.timedelta64(1, 'D')).values.reshape(-1, 1)
y = datos_ventas['ventas'].values.reshape(-1, 1)

In [12]:
SEED = 42
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = SEED)
regressor = LinearRegression()
regressor.fit(X_train, y_train)
print(regressor.intercept_)
print(regressor.coef_)

[909.26509329]
[[0.07083693]]

In [30]:
fechas_nuevo_anio = pd.date_range(start='2024-01-01', end='2024-12-31', freq='M')
X_nuevo_anio = pd.to_numeric((fechas_nuevo_anio - datos_ventas['fecha'].min()) / np.timedelta64(1, 'D')).values.reshape(-1, 1)

In [31]:
y_pred = regressor.predict(X_test)
df_preds = pd.DataFrame({'Actual': y_test.squeeze(), 'Predicted': y_pred.squeeze()})
print(df_preds)

       Actual    Predicted
0      1033.0  1202.388316
1       304.0   969.547322
2      1272.0  1105.412557
3       541.0  1122.696768
4       374.0  1060.218595
...       ...          ...
16145  2490.0  1206.709369
16146   368.0  1202.388316
16147   420.0   939.370789
16148   595.0   999.723855
16149   315.0  1185.245779

[16150 rows x 2 columns]

In [ ]:
#proyecciones_df.head()
#proyecciones_df.to_excel('proyecciones.xlsx', index=False)